<section class="row spotlight">
  <div>
    <h3><span class="media-spotlight-header">Media Spotlight</span>
      <%= link_to(@spotlight.title, work_path(@spotlight.id), alt: 'link to', class: "title") %> by <%= @spotlight.creator%></h3>
      <p><%= @spotlight.votes.count %> votes - <%= @spotlight.description %></p>
    </div>
</section>

<hr class="root-hr" />

<section class="top-ten columns large-4 small-12">
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |movie| %>
    <li>
      <h4><%= link_to(movie.title, work_path(movie.id), alt: 'link to', class: "title") %> <small>by <%= movie.creator%></small></h4>
      <p><%= movie.votes.count%> votes </p>
    </li>
    <% end %>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <ul>
    <% @books.each do |book| %>
    <li>
      <h4><%= link_to(book.title, work_path(book.id), alt: 'link to', class: "title") %> <small>by <%= book.creator%></small></h4>
      <p><%= book.votes.count%> votes </p>
    </li>
    <% end %>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |album| %>
    <li>
      <h4><%= link_to(album.title, work_path(album.id), alt: 'link to', class: "title") %> <small>by <%= album.creator%></small></h4>
      <p><%= album.votes.count%> votes </p>
    </li>
    <% end %>
  </ul>
</section>
