<article class="media-details columns large-6 small-12">
<% if @work %>
<h3><%= @work.title %></h3>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>
<section>
<%= link_to "Back to media ranks", root_path, class: "button" %>
<%= link_to "Edit", edit_work_path(@work.id), class: "button"%>
<%= link_to "Delete", work_path(@work.id), method: :delete, class: "button", data: { confirm: "Are you sure?" } %>
</section>
<% end %>
</article>

<%= link_to 'Upvote', create_vote_path(work_id: @work.id), method: :post, class: "button" %>
<h3><%= "#{@work.votes.count} Votes for this work" %></h3>
